<?xml version="1.0"?>
<model>
  <name>wind turbine</name>
  <version>1.0</version>
  <sdf version="1.6">wind_turbine.sdf</sdf>
  
  <author>
    <name>JiuShun Sun</name>
    <email>834435532@qq.com</email>
  </author>
  
  <description>
    <!-- A custom wind turbine model for Gazebo. -->
  </description>
</model>